.experiments-section {
    background-color: #f4f4f4;
    padding: 120px 0 60px;
}

.experiments-page{
    position: relative;
    width: 70%;
    margin: auto;
    text-align: center;
}

.code {
    font-size: 36px;
    font-weight: 100;
    color: #b6b6b6;
}

.choices {
    margin: auto;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
}

.bg-thumbs {
    position: relative;
    width: 250px;
    height: 300px;
    display: block;
    background-color: $nav-gray;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    overflow: hidden;
    margin: 20px;
    text-align: left;
    padding-top: 20px;
    opacity: 0;
}

.bg-thumbs.is-visible {
    opacity: 1;
}

.choices-title {
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    background: rgba(0,0,0,0.8);
    bottom: 0;
}

.thumb7 {
    background: url(../../assets/images/todo-list-sm.png) center center no-repeat;
}

.thumb6 {
    background: url(../../assets/images/calc-sm.png) center center no-repeat;
}

.thumb5 {
    background: url(../../assets/images/thank-sm.png) center center no-repeat;
}

.thumb4 {
    background: url(../../assets/images/love-sm.png) center center no-repeat;
}

.thumb3 {
    background: url(../../assets/images/press-sm.png) center center no-repeat;
}

.thumb2 {
    background: url(../../assets/images/happened-sm.png) center center no-repeat;
}

.thumb1 {
    background: url(../../assets/images/quote-sm.png) center center no-repeat;
}

.thumb0 {
    background-color: #f26964;
}

.thumb-meta {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    padding: 5px 15px;
    transform: translate(0%, 100%) scale(0.5);
    -webkit-transform: translate(0%, 100%) scale(0.5);
    -moz-transform: translate(0%, 100%) scale(0.5);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    opacity: 0;
    font-weight: 300;
}

.pin {
    background: rgba(0,0,0,0.4);  
    padding: 5px 10px;
    color: #f26964;
}

.choices:hover .thumb-meta,
.bg-thumbs:active{
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
    -wekit-transform: translate(0%, 0%) scale(1);
    -moz-transform: translate(0%, 0%) scale(1);
}

.titles {
    padding-top: 35px;
    color: white;
    text-align: center;
}

.date {
    font-size: 14px;
    color: white;
    font-style: italic;
}

.article-link {
   text-decoration: none;
    color: #f26964;
    cursor: pointer;
}

@media screen and (max-width: 605px) {
    .experiments-section {
        padding: 60px 0 60px;
        display: none;
    }
    .experiments-page {
        width: 80%;
    }
    
    .thumb-meta {
        padding: 5px;
    }
    
    .date {
    font-size: 12px;
    line-height: 25px;
    }
}

@media (min-width: 606px) and (max-width: 1157px) {
    .experiments-page {
        width: 80%;
    }
}