<div class="about-page">
    
<!-- Logo section -->    
<section class="logo-box">
    <div class="logo-container">
        <div class="logo"></div>
        <aside>FRONTEND WEB DEVELOPER</aside>
    </div>
</section>

<!-- About section -->
<section class="about-container">
    <div class="content-container">
        <p class="title">About me</p>
        <div class="content">
            <p> To bring a website to life it takes a slight 
                touch and a lot of easing curve adjustments but it's worth every refinement.<br/><br/>
                My skills are self-taught and widely practiced in every project I work on.
                I am deeply committed to continually finding ways to better serve both 
                the company and the client’s needs.<br/><br/>
                The creative trigger in me is to be able to sleep soundly at night knowing 
                that I have made at least one thing. <br/><br/>
                I code, I design, I build and I love doing it all at the same time.
            </p>
        </div>
        
<!-- Three links -->
        <div class="contact-choices">
            <a href="https://www.linkedin.com/in/ariunzul-ganbold" target="_black" class="thumbs">
                <ul class="thumbs-ul">
                    <li class="icon"><span class="ion-social-linkedin"></span></li>
                    <li class="button">LinkedIn</li>
                </ul>
            </a>
            
            <a href="https://github.com/jagawebdev" target="_black" class="thumbs">
                <ul class="thumbs-ul">
                    <li class="icon"><span class="ion-social-github"></span></li>
                     <li class="button">Github</li>
                </ul>
            </a>
            
            <a href="mailto:jagawebdev@gmail.com" class="thumbs">
                <ul class="thumbs-ul">
                    <li class="icon"><span class="ion-android-mail"></span></li>
                    <li class="button">Email</li>
                </ul>
            </a>
        </div> 
        <div class="clearfix"></div>
    </div>
</section>
</div>