<div class="resume-page">
<!--Hero section -->
    <section class="resume-container">
        <div class="page1 table table1 active-table">
            <table>
                <tr>
                    <td class="picture">
                        <div class="contact-choices">
                            <a href="https://www.linkedin.com/in/ariunzul-ganbold" target="_black" class="thumbs">
                                <ul class="thumbs-ul">
                                    <li class="icon"><span class="ion-social-linkedin"></span></li>
                                    <li class="button">LinkedIn</li>
                                </ul>
                            </a>
                            
                            <a href="https://github.com/jagawebdev" target="_black" class="thumbs">
                                <ul class="thumbs-ul">
                                    <li class="icon"><span class="ion-social-github"></span></li>
                                     <li class="button">Github</li>
                                </ul>
                            </a>
                            
                            <a href="mailto:jagawebdev@gmail.com" class="thumbs">
                                <ul class="thumbs-ul">
                                    <li class="icon"><span class="ion-android-mail"></span></li>
                                    <li class="button">Email</li>
                                </ul>
                            </a>
                         
                            <a href="resume_jaga.pdf" target="_black" class="thumbs">
                                <ul class="thumbs-ul">
                                    <li class="icon"><span class="ion-android-print"></span></li>
                                    <li class="button">Print</li>
                                </ul>
                            </a>
                        </div>  
                    </td>
                        <td class="cover-letter">
                            <div class="head"><span class="full-name">Ariunzul Ganbold</span> <span class="sub-head">(Jaga)<br/>
                                Front-End Web Developer</span></div><br/>
                            <div class="resume-content">
                                <p class="main-title">Objective</p>
                                <p class="re-class">To obtain the position of Front-End Web Developer where 
                                                    I can apply my education and provide clients with high-quality work.</p>
                                <br/>
                                <p class="main-title">Education</p>
                                <p class="re-title">Bloc 
                                    <span class="re-date">2016</span><br/>
                                    <span class="re-class">Front-End Web Developer</span>
                                </p>
                                
                                <p class="re-title">Elgin Community College 
                                    <span class="re-date">2011-2013</span><br/>
                                    <span class="re-class">Graphic Design </span>
                                </p>
                                <br/>
                                <p class="main-title">Programming skills</p>
                                <p class="re-class">HTML, CSS, Sass, JavaScript, JQuery, Adobe Photoshop, Adobe Illustrator and Github</p>
                                <br/>
                                <p class="main-title">Work Experience</p>
                                <p class="re-title">Red 6, Inc. 
                                    <span class="re-date">April 2013 - May 2016</span><br/>
                                    <span class="re-class">Owner / Manager</span>
                                </p>
                                <ul class="re-points">
                                    <li>Charge of social media marketing</li>
                                    <li>Designed, created and managed web based ad campaigns with generated direct emails</li>
                                    <li>Managed social media platforms to promote company's products and services</li>
                                    <li>Provided technical support and trained employees</li>
                                    <li>Collaborated with web developer to create company’s website</li>
                                </ul>
                            </div>
                        </td>
                </tr>
            </table>
        </div>
    </section>
</div>

<script src="js/resume.js"></script>