<div class="work-section">
    <section class="work-page">
        <p class="work-title">Hand-coded websites</p>
        <p><strong>Nail Crush</strong> <br/>Visit the live website <a href="http://www.nailcrushchicago.com" target="_blank">here</a>.<br/><br/></p>
        <p><strong>Nails and Smiles</strong><br/>Visit the live website <a href="http://www.nailsandsmiles.com" target="_blank">here</a>.<br/><br/></p>
        
        <p><strong>A+ Nail School</strong><br/>A+ Nail School is one of Chicago's best nail school that provides 
        high education for students who wants to improve their life and change 
        their future for better. <br/><br/>
        Collaborating with the client I was able to recreate their exciting 
        website and deliver user-friendly, colorful website for their users. 
        In order to provide information also to promote the school, I rearranged 
        and added contents to give more details about the school's goals and mission. 
        <br/><br/>
    
        I looked at the issues that my client and their users were facing and identified the issues as:
        <ol>
            <li>Misplaced  and unnecessary contents</li>
            <li>The navigations are confusing</li>
            <li>Email form doesn’t work properly</li>
        </ol>
        While the whole website got a refresh, the changes are most clear in the navigation bar and the 
        contents of every page. After lots of reading and doing some research I puzzled together all the 
        related information and group them  so users can easily find all the information 
        they need in one place. Visit the live website <a href="http://www.aplusnailschool.com" target="_blank">here</a>.<br/><br/>
        
        <span class="instruction">Slide left panel to see before and after.</span></p>
    </section>
    
    <div class="work-page-slides">
        <div class='alfa' title='Primavera'>
            <div class='bravo' title='Otoño'>
                <textarea readonly cols='0' rows='0' class='charly'></textarea>
            </div>
        </div>
        
        <span class="before">Before</span><img src="assets/images/before.png">
        <span class="after">After</span><img src="assets/images/after.png">
    </div>
</div>